# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDEA directory
.idea

# Ignore output build directory
app/build

# Wouldn't wanna upload private keys to a public repo...
app/src/main/kotlin/kotbot/Keys.kt
